################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Aarvani_ConstantContactV2/v15
/ConstantContactV2Test/bin/Debug
/ConstantContactV2Test/obj/Debug
/ConstantContactV2/bin/Debug
/ConstantContactV2/obj/Debug
